body {
  background-image: linear-gradient(
    to bottom right,
    rgba(0, 95, 201, 255),
    rgba(156, 194, 239, 255)
  );
  color: rgb(255, 255, 255);
  font-size: 1.25rem;
  font-family: "Winky Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  text-align: center;
}

h1 {
  font-size: 5rem;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400rem;
  font-style: normal;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-family: "Amatic SC", sans-serif;
  font-weight: 400rem;
  font-style: normal;
  text-align: center;
}

#grid-container {
  border: 5rem thick #f0f0da56;
  width: 45rem;
  display: grid;
  gap: 0.5rem;
  grid-template-rows: repeat(1, 1fr);
  margin: auto;
}

ul {
  list-style: none;
}

#box1 {
  background-color: rgb(32, 111, 170);
  grid-column: 1/5;
  padding: 1rem;
}
#box2 {
  background-color: rgba(232, 74, 65, 255);
  grid-column: 1/5;
  padding: 1rem;
}
#box3 {
  background-color: rgba(7, 179, 183, 255);
  grid-column: 1/3;
  padding: 1rem;
}
#box4 {
  background-color: #fdc52c;
  grid-column: 3/5;
  padding: 1rem;
}
#box5 {
  background-color: #c2c399;
  grid-column: 1/5;
  padding: 1rem;
}
#box6 {
  background-color: #d74f8f;
  grid-column: 1/3;
  padding: 1rem;
}

#box7 {
  background-color: rgb(32, 111, 170);
  grid-column: 3/5;
  padding: 1rem;
}
#box8 {
  background-color: rgba(232, 74, 65, 255);
  grid-column: 1/3;
  padding: 1rem;
}
#box9 {
  background-color: rgba(7, 179, 183, 255);
  grid-column: 3/5;
  padding: 1rem;
}
#box10 {
  background-color: #fdc52c;
  grid-column: 1/3;
  padding: 1rem;
}

#box11 {
  background-color: #c2c399;
  grid-column: 3/5;
  padding: 1rem;
}
#box12 {
  background-color: #d74f8f;
  grid-column: 1/3;
  padding: 1rem;
}

#box13 {
  background-color: rgb(32, 111, 170);
  grid-column: 3/5;
  padding: 1rem;
}
